/*brick wall background*/
body{
    /*background: black;*/
    padding: 3em;
    height: 44rem;

    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;


}



/*vvv moves for all cards vvv*/
@keyframes move1 {
    0% {top: 0em; left: 0em}
    100% {top: 29em; left: 19em}
}
@keyframes move2 {
    0% {top: 0em; left: 0em}
    100% {top: 27em; left: 20.5em}
}
@keyframes move3 {
    0% {top: 0em; left: 0em}
    100% {top: 25em; left: 22.2em}
}
@keyframes move4 {
    0% {top: 0em; left: 0em}
    100% {top: 3em; left: 19em}
}
@keyframes move5 {
    0% {top: 0em; left: 0em}
    100% {top: 3em; left: 20.5em}
}
@keyframes move6 {
    0% {top: 0em; left: 0em}
    100% {top: 3em; left: 22em}
}
@keyframes move7 {
    0% {top: 0em; left: 0em}
    100% {top: 3em; left: 23.5em}
}
@keyframes fadeOut {
    0% {opacity:1}
    45% {opacity:1}
    55% {opacity:0}
    100% {opacity:0}
}
/*^^^moves for all cards^^^*/


/*marquee animations*/
@keyframes fromLeft{ /* word animation*/
    0% {opacity:0}
    50% {opacity: 0}
    90% {transform: translateX(-2000px);opacity: .7}
    100% {transform: translateX(0); opacity: 1}
}

@keyframes fromLeftBlackjack{ /* word animation*/
    0% {opacity:0}
    50% {opacity: 0}
    90% {transform: translateX(-8000px);opacity: .7}
    100% {transform: translateX(0); opacity: 1}
}

@keyframes topToBottom {
    0%, 20% {opacity: 1}
    20.01%, 100% {opacity: 0}
}
@keyframes topToBottom2 {
    0%, 15% {opacity: 1}
    15.01%, 100% {opacity: 0}
}
@keyframes opacityOn {
    0% {opacity: 0}
    50% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
}


/*firecracker win animation*/

.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }



/*wrappers*/
.wrapper{ /*Wrapper for all game contents*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68rem;
    height: 50rem;
}
.wrapper a {
    animation: opacityOn 112s;
    animation-fill-mode: both;
}
/*table */
#table{ /*Size for table image*/
    position: absolute;
    width: 68rem;
    height: 50rem;
    
}

/*game animation*/
.container1{ /*-------------------------1st game-----------------------*/
    position: absolute;
    margin-left: 12.4em;
    margin-top: 3em;
    animation-name: fadeOut;
    animation-delay: 20s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
img{ /*-------Sizing for all cards------*/
    width: 6em;
    height: 9em;
    border: 1px solid black;
    border-radius: 6px;
}
.deck{/*--- stationary deck position---*/
    position: relative;
}
.card1move { /*First user card dealt-Ks*/
    position: absolute;
    animation-name: move1;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card1fade img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card1fade img {
    position: absolute;
}

.card2move { /*Second user card dealt-9h*/
    position: absolute;
    animation-name: move2;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card2fade img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card2fade img {
    position: absolute;
}
.card3move { /*Third user card dealt-2c*/
    position: absolute;
    animation-name: move3;
    animation-delay: 10s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card3fade img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 7s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card3fade img {
    position: absolute;
}
.card4move { /*First dealer card dealt-Kh */
    position: absolute;
    animation-name: move4;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card4fade img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card4fade img {
    position: absolute;
}
.card5move { /*Second dealer card dealt-Qc  */
    position: absolute;
    animation-name: move5;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card5fade img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card5fade img {
    position: absolute;
}
.container2{ /*-------------------------2nd game-----------------------*/
    position: absolute;
    margin-left: 12.4em;
    margin-top: 3em;
    animation-name: fadeOut;
    animation-delay: 40s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.card1movept2 { /*First user card dealt-6s*/
    position: absolute;
    animation-name: move1;
    animation-delay: 22s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card1fadept2 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 20s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card1fadept2 img {
    position: absolute;
}
.card2movept2 { /*Second user card dealt-9d */
    position: absolute;
    animation-name: move2;
    animation-delay: 23s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card2fadept2 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 20s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card2fadept2 img {
    position: absolute;
}
.card3movept2 { /*Third user card dealt-7c */
    position: absolute;
    animation-name: move3;
    animation-delay: 29s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card3fadept2 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 26s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card3fadept2 img {
    position: absolute;
}
.card4movept2 { /*First dealer card dealt-7s */
    position: absolute;
    animation-name: move4;
    animation-delay: 22s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card4fadept2 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 20s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card4fadept2 img {
    position: absolute;
}
.card5movept2 { /*Second dealer card dealt-10c */
    position: absolute;
    animation-name: move5;
    animation-delay: 23s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card5fadept2 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 28s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card5fadept2 img {
    position: absolute;
}
.container3{ /*-------------------------3rd game-----------------------*/
    position: absolute;
    margin-left: 12.4em;
    margin-top: 3em;
    animation-name: fadeOut;
    animation-delay: 55s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.card1movept3 { /*First user card dealt-Js*/
    position: absolute;
    animation-name: move1;
    animation-delay: 42s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card1fadept3 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 40s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card1fadept3 img {
    position: absolute;
}
.card2movept3 { /*Second user card dealt-As */
    position: absolute;
    animation-name: move2;
    animation-delay: 43s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card2fadept3 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 40s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card2fadept3 img {
    position: absolute;
}
.card3movept3 { /*First dealer card dealt-Jh */
    position: absolute;
    animation-name: move4;
    animation-delay: 42s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card3fadept3 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 40s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card3fadept3 img {
    position: absolute;
}
.card4movept3 { /*Second dealer card dealt-9s */
    position: absolute;
    animation-name: move5;
    animation-delay: 43s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card4fadept3 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 42s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card4fadept3 img {
    position: absolute;
}
.container4{ /*-------------------------4th game-----------------------*/
    position: absolute;
    margin-left: 12.4em;
    margin-top: 3em;
    animation-name: fadeOut;
    animation-delay: 80s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.card1movept4 { /*First user card dealt-4c*/
    position: absolute;
    animation-name: move1;
    animation-delay: 57s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card1fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 54s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card1fadept4 img {
    position: absolute;
}
.card2movept4 { /*Second user card dealt-5d */
    position: absolute;
    animation-name: move2;
    animation-delay: 58s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card2fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 54s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card2fadept4 img {
    position: absolute;
}
.card3movept4 { /*Third user card dealt-9c */
    position: absolute;
    animation-name: move3;
    animation-delay: 64s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card3fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 60s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card3fadept4 img {
    position: absolute;
}
.card4movept4 { /*First dealer card dealt-6c */
    position: absolute;
    animation-name: move4;
    animation-delay: 57s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card4fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 54s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card4fadept4 img {
    position: absolute;
}
.card5movept4 { /*Second dealer card dealt-Ah */
    position: absolute;
    animation-name: move5;
    animation-delay: 58s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card5fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 63s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card5fadept4 img {
    position: absolute;
}
.card6movept4 { /*Third dealer card dealt-Jd */
    position: absolute;
    animation-name: move6;
    animation-delay: 71s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card6fadept4 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 67s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card6fadept4 img {
    position: absolute;
}
.container5{ /*-------------------------5th game-----------------------*/
    position: absolute;
    margin-left: 12.4em;
    margin-top: 3em;
    animation-name: fadeOut;
    animation-delay: 110s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.card1movept5 { /*First user card dealt-Ac*/
    position: absolute;
    animation-name: move1;
    animation-delay: 82s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card1fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 80s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card1fadept5 img {
    position: absolute;
}
.card2movept5 { /*Second user card dealt-8c */
    position: absolute;
    animation-name: move2;
    animation-delay: 83s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card2fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 80s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card2fadept5 img {
    position: absolute;
}
.card3movept5 { /*Third user card dealt-Qh */
    position: absolute;
    animation-name: move3;
    animation-delay: 88s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card3fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 84s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card3fadept5 img {
    position: absolute;
}
.card4movept5 { /*First dealer card dealt-3c */
    position: absolute;
    animation-name: move4;
    animation-delay: 82s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card4fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 80s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card4fadept5 img {
    position: absolute;
}
.card5movept5 { /*Second dealer card dealt-6h */
    position: absolute;
    animation-name: move5;
    animation-delay: 83s;
    animation-duration: 5s; 
    animation-fill-mode: both;
}
#card5fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 86s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card5fadept5 img {
    position: absolute;
}
.card6movept5 { /*Third dealer card dealt-5s */
    position: absolute;
    animation-name: move6;
    animation-delay: 94s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card6fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 90s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card6fadept5 img {
    position: absolute;
}
.card7movept5 { /*Forth dealer card dealt-3h */
    position: absolute;
    animation-name: move7;
    animation-delay: 98s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#card7fadept5 img.top {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-delay: 94s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
#card7fadept5 img {
    position: absolute;
}


.f1 { /*You win*/
    animation: fromLeft;
    animation-duration: 20s;
}
.f2 { /*Bust! You lose*/
    animation: fromLeft;
    animation-duration: 38s;
}
.f3 { /*Black Jack You Win*/

    animation: fromLeft;
    animation-duration: 53s;
}
.f6 {
    animation: fromLeftBlackjack;
    animation-duration: 53s;

}
.f5 {
    animation: fromLeft;
    animation-duration: 53s;
}
.f4 { /* */
    animation: fromLeft;
    animation-duration: 80s;
}   
.f5 { /* */
    animation: fromLeft;
    animation-duration: 109s;
}

.f1 p, .f2 p, .f3 p, .f4 p, .f5 .f6 p{
    font: bold 35pt Verdana;
    color: white;
}
#bust{
    color: red;
}
#blackjack{
    color: yellow;
}
.aWrapper {
    position: absolute;
    font: bold 48px Verdana;
    color: white;
    margin-left: 750px;
    margin-top: 375px;
}
.a1, .a2, .a3, .a4, .a5{
    position: relative;
}
.a1 span {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    animation: topToBottom 20s;
}
.a1 span:nth-child(2) {
    animation-delay: 9s;
}
.a2 span {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    animation: topToBottom2 20s;
    animation-delay: 21.5s;
}
.a2 span:nth-child(2) {
    animation-delay: 28s;
}
.a3 span {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    animation: topToBottom 20s;
    animation-delay: 42s;
}
.a4 span {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    animation: topToBottom2 20s;
    animation-delay: 57s;
}
.a4 span:nth-child(2){
    animation-delay: 63s;
}
.a4 span:nth-child(3) {
    animation-delay: 68s;
}
.a5 span {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    animation: topToBottom2 20s;
    animation-delay: 82s;
}
.a5 span:nth-child(2) {
    animation-delay: 88s;
}
.a5 span:nth-child(3) {
    animation-delay: 93s;
}


.neon {
    font-family: neon;
    color: #ec0ae1;
    font-size: 7vw;
    line-height: 7vw;
    text-shadow: 0 0 3vw #620a45;
}

.flux {
    font-family: neon;
    color: #3cb6d4;
    font-size: 7vw;
    line-height: 7vw;
    text-shadow: 0 0 3vw #2356FF;
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #620a45, 0 0 3vw #620a45, 0 0 10vw #620a45, 0 0 10vw #620a45, 0 0 .4vw #620a45, .5vw .5vw .1vw #620a45;
        color: #cf95e3;
    }
    50% {
        text-shadow: 0 0 .5vw #ae21c8, 0 0 1.5vw #ae21c8, 0 0 5vw #ae21c8, 0 0 5vw #ae21c8, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #c76bdd;
    }
}

.flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 1vw #4c2ff3, 0 0 3vw #4c2ff3, 0 0 10vw #4c2ff3, 0 0 10vw #4c2ff3, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}






/*blackjack neon text effect*/

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}


/*blinking blackjack*/
.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: radial-gradient(
            ellipse 50% 35% at 50% 50%,
            #6b1839,
            transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2pt;
    left: 50%;
    /*top: 10%;*/
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}








/* bust animation */



/*you lose animation and effects*/
